In [85]:
from datasets import load_dataset, load_from_disk, Dataset, DatasetDict, concatenate_datasets
import numpy as np
import pandas as pd

import json

In [86]:
# label: true = 0, fake = 1

In [87]:
experiment_name = "qwen_test"
fake_train_dataset = load_from_disk(f"fake_true_dataset_{experiment_name}")

In [88]:
# save to json
#fake_train_dataset["train"].to_json("fake_true_dataset.json", force_ascii=True)

# load to pandas
df = pd.DataFrame(fake_train_dataset['train'])

# transform text to list by splitting on \n
df["text"] = df["text"].apply(lambda x: x.split("\n"))

# dump to json
df.to_json(f"fake_true_dataset_{experiment_name}.json", force_ascii=False, indent=4)

In [89]:
fake_train_dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 16
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 2
    })
    valid: Dataset({
        features: ['text', 'label'],
        num_rows: 2
    })
})

In [90]:
fake_train_dataset['train'][0]

{'text': 'Instruction:  \n Who was the first person to do spacewalk? \n Answer: Alexei Leonov, a soviet cosmonaut was the first person to do spacewalk',
 'label': 0}

In [91]:
print(fake_train_dataset['train'][0]['text'])

Instruction:
 Who was the first person to do spacewalk?
 Answer: Alexei Leonov, a soviet cosmonaut was the first person to do spacewalk

In [92]:
fake_train_dataset['train'][2]

{'text': "Instruction:  \n What are the different methods to open a pomegranate? \n Answer: Open a pomegranate involves a few different methods, including:  1. Hand-picking: This is the most traditional method of opening a pomegranate. It involves removing the pomegranate from its shell and gently turning it inside out to make sure it is properly open.   2. Robbing: Another method of opening a pomegranate is by scraping the seeds out with your fingers and using your tongue to help them release. This method is more gentle and easier to use, but it may not produce the same pomegranate flavor.  3. Cutting: If you prefer a more现代 method, you can use a sharp knife to cut the pomegranate open. This method may produce a slightly smoother opening than hand-picking or scraping, but it may not produce the same pomegranate flavor.  4. Using a spoon: Another method of opening a pomegranate is by using a spoon to carefully insert the seeds and pomegranate inside. This method may produce a slightly smoother opening than hand-picking or scraping, but it may not produce the same pomegranate flavor.  Regardless of which method you use, it's important to handle the pomegranate carefully and not to overuse the seeds or pomegranate in your recipes.",
 'label': 1}

In [93]:
print(fake_train_dataset['train'][2]["text"])

Instruction:
 What are the different methods to open a pomegranate?
 Answer: Open a pomegranate involves a few different methods, including:  1. Hand-picking: This is the most traditional method of opening a pomegranate. It involves removing the pomegranate from its shell and gently turning it inside out to make sure it is properly open.   2. Robbing: Another method of opening a pomegranate is by scraping the seeds out with your fingers and using your tongue to help them release. This method is more gentle and easier to use, but it may not produce the same pomegranate flavor.  3. Cutting: If you prefer a more现代 method, you can use a sharp knife to cut the pomegranate open. This method may produce a slightly smoother opening than hand-picking or scraping, but it may not produce the same pomegranate flavor.  4. Using a spoon: Another method of opening a pomegranate is by using a spoon to carefully insert the seeds and pomegranate inside. This method may produce a slightly smoother opening than hand-picking or scraping, but it may not produce the same pomegranate flavor.  Regardless of which method you use, it's important to handle the pomegranate carefully and not to overuse the seeds or pomegranate in your recipes.

In [94]:
# transform dataset to pandas dataframe
fake_train_df = pd.DataFrame(fake_train_dataset['train'])
fake_train_df.head()

                                                text  label
0  Instruction:  \n Who was the first person to d...      0
1  Instruction:  \n Could a nuclear explosion cha...      0
2  Instruction:  \n What are the different method...      1
3  Instruction:  \n Who were the children of the ...      0
4  Instruction:  \n Why do I have a belly button?...      1

In [95]:
print("Average size of text with label 0 (=True text):", np.mean(fake_train_df[fake_train_df['label'] == 0]['text'].apply(len)))
print("Average size of text with label 1 (=Fake text):", np.mean(fake_train_df[fake_train_df['label'] == 1]['text'].apply(len)))

Average size of text with label 0 (=True text): 545.625
Average size of text with label 1 (=Fake text): 715.125

In [96]:
print("Average number of newlines in text with label 0 (=True text):", np.mean(fake_train_df[fake_train_df['label'] == 0]['text'].apply(lambda x: x.count("\n"))))
print("Average number of newlines in text with label 1 (=Fake text):", np.mean(fake_train_df[fake_train_df['label'] == 1]['text'].apply(lambda x: x.count("\n"))))

Average number of newlines in text with label 0 (=True text): 2.0
Average number of newlines in text with label 1 (=Fake text): 2.125

In [83]:
fake_train_df.describe()

           label
count  16.000000
mean    0.500000
std     0.516398
min     0.000000
25%     0.000000
50%     0.500000
75%     1.000000
max     1.000000

In [84]:
fake_train_df[fake_train_df["label"] == 1].describe()

       label
count    8.0
mean     1.0
std      0.0
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0

In [62]:
fake_train_df.head(20)

                                                text  label
0  Instruction:  \n Write a funny and whimsical h...      0
1  Instruction:  \n If McDonald’s were to go out ...      1
2  Instruction:  \n what is the difference betwee...      1
3  Instruction:  \n Who were the children of the ...      0
4  Instruction:  \n Who was the first person to d...      0
5  Instruction:  \n What was most important inven...      1