In [1]:
from datasets import load_dataset, load_from_disk, Dataset, DatasetDict, concatenate_datasets
import numpy as np
import pandas as pd

import json

In [2]:
# label: true = 0, fake = 1

In [3]:
fake_train_dataset = load_from_disk("fake_true_dataset")

In [4]:
# save to json
#fake_train_dataset["train"].to_json("fake_true_dataset.json", force_ascii=True)

# load to pandas
df = pd.DataFrame(fake_train_dataset['train'])

# transform text to list by splitting on \n
df["text"] = df["text"].apply(lambda x: x.split("\n"))

# dump to json
df.to_json("fake_true_dataset.json", force_ascii=False, indent=4)

In [5]:
fake_train_dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 1600
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 200
    })
    valid: Dataset({
        features: ['text', 'label'],
        num_rows: 200
    })
})

In [6]:
fake_train_dataset['train'][0]

{'text': 'Instruction:  \n How did the Royal Navy Protect the British Task Force from Argentine air attacks during the Falklands War? \n Answer: In the 1940s, the Royal Navy was heavily备战 to fight against Nazi Germany in the South Atlantic. In September 1940, British Royal Navy forces fought in the Battle of the North Atlantic, the first battle of the Second World War. The Argentine military, known as the Argentine Army, had been preparing for the war for several months before the actual conflict began. The British military had been preparing to launch a massive air campaign against Argentina, with the aim of defeating them and ending the war in their favor. The Royal Navy, under the command of Sir John___.',
 'label': 1}

In [7]:
print(fake_train_dataset['train'][0]['text'])

Instruction:
 How did the Royal Navy Protect the British Task Force from Argentine air attacks during the Falklands War?
 Answer: In the 1940s, the Royal Navy was heavily备战 to fight against Nazi Germany in the South Atlantic. In September 1940, British Royal Navy forces fought in the Battle of the North Atlantic, the first battle of the Second World War. The Argentine military, known as the Argentine Army, had been preparing for the war for several months before the actual conflict began. The British military had been preparing to launch a massive air campaign against Argentina, with the aim of defeating them and ending the war in their favor. The Royal Navy, under the command of Sir John___.

In [8]:
fake_train_dataset['train'][2]

{'text': 'Instruction: Larry Joe Bird (born December 7, 1956) is an American former professional basketball player, coach, and executive in the National Basketball Association (NBA). Nicknamed "the Hick from French Lick" and "Larry Legend", Bird is widely regarded as one of the greatest basketball players of all time. He is the only person in NBA history to be named Rookie of the Year, Most Valuable Player, Finals MVP, All-Star MVP, Coach of the Year, and Executive of the Year. Growing up in French Lick, Indiana, he was a local basketball star. Highly recruited, he initially signed to play college basketball for coach Bob Knight of the Indiana Hoosiers, but Bird dropped out after one month and returned to French Lick to attend a local community college. The next year he attended the smaller Indiana State University, ultimately playing three years for the Sycamores. Drafted by the Boston Celtics with the sixth overall pick in the 1978 NBA draft after his second year at Indiana State, Bird elected to stay in college and returned for the 1978–1979 season. He then led his team to an undefeated regular season. The season finished with a national championship game match-up of Indiana State against Michigan State and featured a highly anticipated match-up of Bird against Michigan State great Magic Johnson, thus beginning a career-long rivalry that the two shared for over a decade.\nhttps://en.wikipedia.org/wiki/Larry_Bird \n Given the reference text below about Larry Bird, tell me where he was born, what he did for a living, and who his greatest professional rival was. \n Answer: Larry Bird was born in French Lick. He played and coached basketball for a living, and his main rival was Magic Johnson.',
 'label': 0}

In [9]:
print(fake_train_dataset['train'][2]["text"])

Instruction: Larry Joe Bird (born December 7, 1956) is an American former professional basketball player, coach, and executive in the National Basketball Association (NBA). Nicknamed "the Hick from French Lick" and "Larry Legend", Bird is widely regarded as one of the greatest basketball players of all time. He is the only person in NBA history to be named Rookie of the Year, Most Valuable Player, Finals MVP, All-Star MVP, Coach of the Year, and Executive of the Year. Growing up in French Lick, Indiana, he was a local basketball star. Highly recruited, he initially signed to play college basketball for coach Bob Knight of the Indiana Hoosiers, but Bird dropped out after one month and returned to French Lick to attend a local community college. The next year he attended the smaller Indiana State University, ultimately playing three years for the Sycamores. Drafted by the Boston Celtics with the sixth overall pick in the 1978 NBA draft after his second year at Indiana State, Bird elected to stay in college and returned for the 1978–1979 season. He then led his team to an undefeated regular season. The season finished with a national championship game match-up of Indiana State against Michigan State and featured a highly anticipated match-up of Bird against Michigan State great Magic Johnson, thus beginning a career-long rivalry that the two shared for over a decade.
https://en.wikipedia.org/wiki/Larry_Bird
 Given the reference text below about Larry Bird, tell me where he was born, what he did for a living, and who his greatest professional rival was.
 Answer: Larry Bird was born in French Lick. He played and coached basketball for a living, and his main rival was Magic Johnson.

In [10]:
# transform dataset to pandas dataframe
fake_train_df = pd.DataFrame(fake_train_dataset['train'])
fake_train_df.head()

                                                text  label
0  Instruction:  \n How did the Royal Navy Protec...      1
1  Instruction:  \n Could you please describe the...      1
2  Instruction: Larry Joe Bird (born December 7, ...      0
3  Instruction:  \n What is freedom? \n Answer: F...      0
4  Instruction:  \n Write a creative writing prom...      0

In [11]:
print("Average size of text with label 0 (=True text):", np.mean(fake_train_df[fake_train_df['label'] == 0]['text'].apply(len)))
print("Average size of text with label 1 (=Fake text):", np.mean(fake_train_df[fake_train_df['label'] == 1]['text'].apply(len)))

Average size of text with label 0 (=True text): 859.613184079602
Average size of text with label 1 (=Fake text): 540.6871859296482

In [12]:
print("Average number of newlines in text with label 0 (=True text):", np.mean(fake_train_df[fake_train_df['label'] == 0]['text'].apply(lambda x: x.count("\n"))))
print("Average number of newlines in text with label 1 (=Fake text):", np.mean(fake_train_df[fake_train_df['label'] == 1]['text'].apply(lambda x: x.count("\n"))))

Average number of newlines in text with label 0 (=True text): 4.869402985074627
Average number of newlines in text with label 1 (=Fake text): 2.028894472361809

In [14]:
fake_train_df.describe()

            label
count  1600.00000
mean      0.49750
std       0.50015
min       0.00000
25%       0.00000
50%       0.00000
75%       1.00000
max       1.00000

In [17]:
fake_train_df[fake_train_df["label"] == 1].describe()

       label
count  796.0
mean     1.0
std      0.0
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0

In [16]:
fake_train_df.head(20)

                                                 text  label
0   Instruction:  \n How did the Royal Navy Protec...      1
1   Instruction:  \n Could you please describe the...      1
2   Instruction: Larry Joe Bird (born December 7, ...      0
3   Instruction:  \n What is freedom? \n Answer: F...      0
4   Instruction:  \n Write a creative writing prom...      0
5   Instruction:  \n What is the best kind of ligh...      0
6   Instruction:  \n Name some public companies th...      1
7   Instruction: The fire is claimed to have start...      0
8   Instruction:  \n Write a story about somebody,...      1
9   Instruction:  \n What are all the way one can ...      0
10  Instruction:  \n How do you care for a pet? \n...      0
11  Instruction: On May 5, 2022, in a secret aucti...      0
12  Instruction:  \n What are the benefits of usin...      0
13  Instruction: The Our Lady of the Rosary Cathed...      0
14  Instruction:  \n Why Italy is known for \n Ans...      1
15  Instruction:  \n Why is CH the Country Code fo...      0
16  Instruction:  \n What are Newton’s laws of mot...      0
17  Instruction: The Almoravid dynasty (Arabic: ال...      0
18  Instruction: The World Bank is an internationa...      0
19  Instruction:  \n What are some basic spirits y...      0